@mixin action-button($color) {
  .btn {
    background-color: $color;
    border-radius: none;
    height: auto;
    line-height: normal;
    text-transform: none;
    h2 {
      font-size: 2rem;
      color: white;
    }
  }
}

@mixin big-search-bar($color, $border-color) {
  padding-left: 10px;
  margin-top: 250px;
  margin-bottom: 0;
  background-color: $color;
  border: solid 1px $border-color;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.16);
  max-height: 42px;
}

@mixin small-search-bar($color) {
  background-color: $color;
  margin-bottom: 0;
  height: 2rem;
  &:focus {
    border: none;
    box-shadow: none;
  }
}

@mixin big-button($color) {
  margin-left: 10px;
  position: relative;
  bottom: 44px;
  left: 100%;
  border-radius: 0;
  border-width: 1px;
  border-color: $color;
  border-image: none;
  border-style: solid;
  background-color: white;
  color: $color;
  text-decoration:underline;
  height: auto;
  line-height: 42px;
  text-transform: none;
}

@mixin small-button($color) {
  position: relative;
  border-radius: 0;
  border-width: 1px;
  border-color: $color;
  border-image: none;
  border-style: solid;
  background-color: white;
  color: $color;
  height: auto;
  line-height: 1.5;
  text-transform: none;
  padding: 0 10px;
}

@mixin playlist-display($color) {
  position: relative;
  bottom: 60px;
  padding: 0;
  background-color: white;
  border: solid 1px $color;
  box-sizing: border-box;
  h3 {
    padding-left: 10px;
    font-size: 1.75rem;
    margin-bottom: 0;
    text-align: center;
    border-bottom: solid 1px $color;
    color: $color;
  }
  ul {
    margin: 0;
    li {
      padding: 5px;
      background-color: white;
      // border-bottom: solid 1px $dark-grey;
      div {
        margin: 10px 0;
        padding-bottom: 15px;
        &:nth-child(odd) {
          border-top: solid 1px $color;
          border-bottom: solid 1px $color;
        }
      }
      img {
        margin-top: 15px;
        vertical-align: middle;
        display: inline-block;
      }
      p {
        display: inline-block;
        padding-left: 10px;
        font-size: 1rem;
        color: $color;
        max-height: 62px;
        overflow: hidden;
        margin-bottom: 0;
      }
    }
  }
}
