// Colors
$magenta: #AB537F;
$blue-grey: #6E7592;
$light-blue: #92C6DE;
$light-grey: #E6E7E8;
$dark-grey: #b3b3b3;

// Fonts
$josefin-sans: "Josefin Sans", "Helvetica", sans-serif;
$comfortaa: "Comfortaa", sans-serif;
