@import "https://fonts.googleapis.com/css?family=Comfortaa|Josefin+Sans:300,400";
body {
  font-family: "Josefin Sans", "Helvetica", sans-serif;
  font-weight: 400;
  color: white; }

a {
  color: white;
  text-decoration: underline; }

.disable {
  display: none; }

.logo {
  position: absolute;
  left: 20px;
  top: 20px; }

.landing-page {
  width: 100vw;
  min-height: 100vh;
  background-image: url("images/unsplash-kitsune-4.jpg");
  background-size: cover; }
  .landing-page .call-to-action {
    margin-top: 75px; }
    .landing-page .call-to-action h1 {
      margin: 5px 0; }
  .landing-page #js-landing-search {
    margin-top: 80px;
    background-color: #6E7592;
    padding: 10px 10px 5px 10px;
    border: solid 1px white; }
  .landing-page .or-statement {
    position: relative; }
  .landing-page .line-emphasis {
    position: absolute;
    border-bottom: solid 1px white;
    bottom: 45px; }
  .landing-page .left-line {
    left: 66.66% !important; }
  .landing-page h2 {
    text-align: center; }
  .landing-page #js-create-playlist {
    background-color: #AB537F;
    padding: 5px; }
    .landing-page #js-create-playlist h2 {
      font-size: 2rem;
      text-align: center; }

.search-playlists #js-playlist-search {
  margin-top: 150px;
  background-color: #AB537F;
  padding: 10px 10px 5px 10px;
  border: solid 1px #AB537F;
  position: relative; }
.search-playlists #js-playlist-search-button {
  position: relative;
  bottom: 38px;
  left: 100%;
  border-radius: 0;
  border-width: 1px;
  border-color: #AB537F;
  border-image: none;
  border-style: solid;
  background-color: white;
  color: #AB537F;
  text-decoration: underline;
  padding: 10px 10px 5px 10px; }
.search-playlists .playlist-results .content-wrapper {
  position: relative;
  padding: 0;
  background-color: #E6E7E8;
  border: solid 1px #AB537F; }
  .search-playlists .playlist-results .content-wrapper h3 {
    padding-left: 10px;
    font-size: 1.75rem;
    margin-bottom: 0;
    border-bottom: solid 1px #b3b3b3; }
  .search-playlists .playlist-results .content-wrapper ul {
    margin: 0; }
    .search-playlists .playlist-results .content-wrapper ul li {
      padding: 5px;
      background-color: white;
      border-bottom: solid 1px #b3b3b3; }
      .search-playlists .playlist-results .content-wrapper ul li img {
        vertical-align: middle;
        display: inline-block;
        width: 32px; }
      .search-playlists .playlist-results .content-wrapper ul li p {
        display: inline-block;
        padding-left: 10px;
        font-size: 1rem;
        color: #E6E7E8; }
.search-playlists .playlist-results .playlist-hover {
  position: absolute;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  height: 229px;
  border: solid 1px #AB537F;
  -webkit-box-shadow: 7px 7px 5px #AB537F;
  -moz-box-shadow: 7px 7px 5px #AB537F;
  box-shadow: 7px 7px 5px #AB537F; }
  .search-playlists .playlist-results .playlist-hover h4, .search-playlists .playlist-results .playlist-hover h5 {
    color: #AB537F; }
  .search-playlists .playlist-results .playlist-hover h5 {
    font-size: 1.5rem;
    word-spacing: 10px; }
  .search-playlists .playlist-results .playlist-hover #js-view-playlist {
    position: relative;
    border-radius: 0;
    border-width: 1px;
    border-color: #AB537F;
    border-image: none;
    border-style: solid;
    background-color: white;
    color: #AB537F;
    top: 90px; }

/*# sourceMappingURL=style.css.map */
