@import 'https://fonts.googleapis.com/css?family=Comfortaa|Josefin+Sans:300,400';
@import "variables";
@import "mixins";

body {
  font : {
    family: $josefin-sans;
    weight: 400;
  }
  color: white;
}

a {
  color: white;
  text-decoration: underline;
}

.disable {
  display: none;
}

.logo {
  position: absolute;
  left: 20px;
  top: 20px;
}

.landing-page {
  width: 100vw;
  min-height: 100vh;
  background-image: url("images/unsplash-kitsune-4.jpg");
  background-size: cover;
  .call-to-action {
    margin-top: 75px;
    h1 {
      margin: 5px 0;
    }
  }
  #js-landing-search {
    @include big-search-bar(80px, $blue-grey, white);
  }
  .or-statement {
    position: relative;
  }
  .line-emphasis {
    position: absolute;
    border-bottom: solid 1px white;
    bottom: 45px;
  }
  .left-line {
    left: 66.66% !important;
  }
  h2 {
    text-align: center;
  }
  #js-create-playlist {
    background-color: $magenta;
    padding: 5px;
    h2 {
      font-size: 2rem;
      text-align: center;
    }
  }
}

.search-playlists {
  #js-playlist-search {
    @include big-search-bar(150px, $magenta, $magenta);
    position: relative;
  }
  #js-playlist-search-button {
    @include big-button($magenta);
  }
  .playlist-results {
    .playlist-display {
      padding: 0;
      background-color: $light-grey;
      border: solid 1px $magenta;
      h3 {
        padding-left: 10px;
        font-size: 1.75rem;
        margin-bottom: 0;
        border-bottom: solid 1px $dark-grey;
      }
      ul {
        margin: 0;
        li {
          padding: 5px;
          background-color: white;
          border-bottom: solid 1px $dark-grey;
          img {
            vertical-align: middle;
            display: inline-block;
            width: 32px;
          }
          p {
            display: inline-block;
            padding-left: 10px;
            font-size: 1.25rem;
            color: $light-grey;
          }
        }
      }
    }
  }
}
