@import 'https://fonts.googleapis.com/css?family=Comfortaa|Josefin+Sans:300,400';
@import "variables";
@import "mixins";

body {
  font : {
    family: $josefin-sans;
    weight: 400;
  }
  color: white;
}

::-webkit-input-placeholder {
   color: white;
   padding-left: 10px;
}

:-moz-placeholder { /* Firefox 18- */
  color: white;
  padding-left: 10px;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: white;
  padding-left: 10px;
}

:-ms-input-placeholder {
  color: white;
  padding-left: 10px;
}

a {
  color: white;
  text-decoration: underline;
}

.disable {
  display: none;
}

.opacity {
  opacity: 0.05;
}

.logo {
  position: absolute;
  left: 20px;
  top: 20px;
}

.landing-page {
  width: 100vw;
  min-height: 100vh;
  background-image: url("images/unsplash-kitsune-4.jpg");
  background-size: cover;
  .call-to-action {
    margin-top: 75px;
    h1 {
      margin: 5px 0;
    }
  }
  #js-landing-search {
    @include big-search-bar(80px, $blue-grey, white);
    position: relative;
  }
  .or-statement {
    position: relative;
  }
  .line-emphasis {
    position: absolute;
    border-bottom: solid 1px white;
    bottom: 45px;
  }
  .left-line {
    left: 66.66% !important;
  }
  h2 {
    text-align: center;
  }
  #js-create-playlist {
    @include action-button($magenta);
  }
}

.search-playlists {
  #js-playlist-search {
    @include big-search-bar(150px, $magenta, $magenta);
    position: relative;
  }
  #js-playlist-search-button {
    @include big-button($magenta);
  }
  .playlist-results {
    @include playlist-display($magenta);
    border: none;
    margin-top: 50px;
  }
  .playlist-hover {
    position: absolute;
    bottom: 0px;
    background-color: rgba(255,255,255,0.9);
    text-align: center;
    height: 229px;
    border: solid 1px $magenta;
    -webkit-box-shadow: 7px 7px 5px $magenta;
    -moz-box-shadow:    7px 7px 5px $magenta;
    box-shadow:         7px 7px 5px $magenta;
    h4 {
      color: $magenta;
    }
    #js-view-playlist  {
      @include small-button($magenta);
      top: 90px;
    }
    .chip {
      background-color: $magenta;
      color: white;
    }
  }
}

.search-yt {
  #js-yt-search {
    @include big-search-bar(150px, $blue-grey, $blue-grey);
  }
  #js-yt-search-button {
    @include big-button($blue-grey);
  }
  .video {
    margin-bottom: 10px;
    div {
      border: solid 1px $blue-grey;
      height: 195px;
      color: $blue-grey;
    }
  }
  .selected-videos {
    border-left: solid 1px $light-grey;
    position: fixed;
    left: 75% !important;
    padding-bottom: 10px;
    h3 {
      color: $blue-grey;
      font-size: 1.25rem;
      margin-top: 10px;
    }
    ul {
      li {
        font-size: 1rem;
        color: $blue-grey;
        margin-bottom: 10px;
      }
    }
    #js-view-new-playlist {
      @include small-button($blue-grey);
      margin-top: 10px;
    }
  }
}

.playlist-review-send {
  position: absolute;
  width: 100%;
  bottom: 60px;
  #close-review-send {
    position: absolute;
    top: -150px;
    left: 90%;
    a {
      color: $light-blue;
    }
  }
  #js-playlist-name, #js-email-address, #js-add-tags {
    @include small-search-bar($light-blue);
  }
  #js-email-address, #js-add-tags, #js-add-tag-button {
    margin-left: 20px;
  }
  .send-column {
    text-align: center;
    #js-send-email {
      @include action-button($light-blue);
    }
    a {
      color: $light-blue;
      font-size: 10px;
      text-align: center;
    }
  }
  .playlist-display {
    @include playlist-display($light-blue);
    -webkit-box-shadow: 7px 7px 5px $light-blue;
    -moz-box-shadow:    7px 7px 5px $light-blue;
    box-shadow:         7px 7px 5px $light-blue;
  }
  #js-add-tag-button {
    @include small-button($light-blue);
    float: right;
    margin-top: 5px;
  }
  #js-user-tags {
    margin-top: 50px;
    margin-left: 20px;
    .chip {
      text-align: center;
      background-color: $light-blue;
      color: white;
      margin-right: 10px;
    }
  }
}
