@import 'https://fonts.googleapis.com/css?family=Comfortaa|Josefin+Sans:300,400';
@import "variables";
@import "mixins";

body {
  font : {
    family: $josefin-sans;
    weight: 400;
  }
  color: white;
}

::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
  color: white;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: white;
}

:-ms-input-placeholder {
  color: white;
}

a {
  color: white;
  text-decoration: underline;
}

.disable {
  display: none;
}

.opacity {
  opacity: 0.05;
  position: absolute;
}

.logo {
  height: 60px;
  width: auto;
  position: absolute;
  left: 20px;
  top: 20px;
}

.top-link {
  color: #e6e6e6;
  h1 {
    text-align: right;
    position: absolute;
    right: 50px;
    width: 300px;
    font-size: 3.75rem;
  }
}

.ui-menu {
  // background-color: rgba(171, 83, 127, 0.5);
  background-color: #e6e6e6;
  width: 33.333%;
  padding-left: 10px;
}

#js-view-create:hover {
  color: $magenta;
}

#js-view-search:hover {
  color: $blue-grey;
}

#send-break:hover {
  color: $blue;
}

.landing-page {
  width: 100vw;
  min-height: 100vh;
  background-image: url("images/unsplash-kitsune-4.jpg");
  background-size: cover;
  .call-to-action {
    margin-top: 75px;
    h1 {
      margin: 5px 0;
    }
  }
  #js-landing-search {
    @include big-search-bar($blue-grey, white);
    margin-top: 80px;
    position: relative;
  }
  .or-statement {
    position: relative;
  }
  .line-emphasis {
    position: absolute;
    border-bottom: solid 1px white;
    bottom: 45px;
  }
  .left-line {
    left: 66.66% !important;
  }
  h2 {
    text-align: center;
  }
  #js-create-playlist {
    @include action-button($magenta);
  }
}

.search-playlists {
  #js-playlist-search {
    @include big-search-bar($magenta, $magenta);
    position: relative;
  }
  #js-playlist-search-button {
    @include big-button($magenta);
  }
  .playlist-results {
    margin-top: 50px;
    .playlist-display {
      @include playlist-display($magenta, $magenta-border);
      border: none;
      margin-left: 8.33333%;
      margin-bottom: 8.3333%;
      max-height: 100%;
      background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(171,83,127,0.2) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(171,83,127,0.2) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(171,83,127,0.2) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#33ab537f',GradientType=0 ); /* IE6-9 */
    }
  }
  .playlist-hover {
    position: absolute;
    bottom: 0px;
    background-color: rgba(171, 83, 127,0.9);
    text-align: center;
    height: 229px;
    border: solid 1px $magenta;
    -webkit-box-shadow: 7px 7px 5px $magenta;
    -moz-box-shadow:    7px 7px 5px $magenta;
    box-shadow:         7px 7px 5px $magenta;
    padding: 0 5px;
    h4 {
      color: white;
    }
    #js-view-playlist  {
      @include big-button($magenta);
      position: absolute;
      height: 40px;
      left: 33.333%;
      top: 400px;
    }
    .chip {
      background-color: white;
      color: $magenta;
      font-size: 1.25rem;
      margin-right: 20px;
      margin-top: 20px;
    }
  }
}

.search-yt {
  [type="radio"].with-gap:checked+label:before,
  [type="radio"].with-gap:checked+label:after {
    border-color: $magenta;
  }
  [type="radio"].with-gap:checked+label:after {
    background-color: $magenta;
  }
  #js-yt-search {
    @include big-search-bar($blue-grey, $blue-grey);
  }
  #js-yt-search-button {
    @include big-button($blue-grey);
  }
  .video {
    margin-bottom: 10px;
    position: relative;
    h5 {
      box-sizing: padding-box;
      position: absolute;
      padding: 0 10px;
      font-size: 1.25rem;
      z-index: 2;
    }
    img {
      filter: brightness(80%);
    }
  }
  .selected-videos {
    border-left: solid 1px $light-grey;
    position: fixed;
    left: 75% !important;
    padding-bottom: 10px;
    h3 {
      color: $blue-grey;
      font-size: 1.25rem;
      margin-top: 10px;
    }
    ul {
      li {
        font-size: 1rem;
        color: $blue-grey;
        margin-bottom: 10px;
      }
    }
    #js-view-new-playlist {
      @include small-button($blue-grey);
      margin-top: 10px;
    }
  }
}

.playlist-review-send {
  position: relative;
  width: 100%;
  top: 250px;
  #close-review-send {
    position: absolute;
    top: -150px;
    left: 90%;
    a {
      color: $light-blue;
    }
  }
  #js-playlist-name, #js-email-address, #js-add-tags {
    @include small-search-bar($light-blue);
  }
  #js-email-address, #js-add-tags, #js-add-tag-button {
    margin-left: 20px;
  }
  .send-column {
    text-align: center;
    #js-send-email {
      @include action-button($light-blue);
    }
    a {
      color: $light-blue;
      font-size: 10px;
      text-align: center;
    }
  }
  #new-playlist-display {
    @include playlist-display($light-blue, $light-blue);
    -webkit-box-shadow: 7px 7px 5px $light-blue;
    -moz-box-shadow:    7px 7px 5px $light-blue;
    box-shadow:         7px 7px 5px $light-blue;
    margin-top: 20px;
    ul {
      li:nth-child(1) {
        div {
          border-top: none;
        }
      }
    }
  }
  #js-add-tag-button {
    @include small-button($light-blue);
    float: right;
    margin-top: 5px;
  }
  #js-user-tags {
    margin-top: 50px;
    margin-left: 20px;
    .chip {
      text-align: center;
      background-color: $light-blue;
      color: white;
      margin-right: 10px;
    }
  }
  #js-error-message {
    h5 {
      color: $light-blue;
      font-size: 1.25rem;
      padding: 0 20px;
    }
  }
  .round {
    border-radius: 100%;
    height: 200px;
    width: 200px;
    background-color: $light-blue;
    text-align: center;
    position: absolute;
    left: 40vw;
    top: 0;
    i {
      color: white;
      line-height: 200px;
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  height: 150px;
  width: 100vw;
  background-image: url('images/footer.png');
  background-repeat: repeat-x;
  background-size: auto 150px;
  z-index: -1;
}

// view playlist

.view-playlist {
  h3, h5, p {
    color: $light-blue;
  }
  h5 {
    margin-top: 50px;
  }
  .send {
    margin-bottom: 200px;
    input {
      @include big-search-bar($light-blue, $light-blue);
      margin-top: 0px;
    }
    #js-forward-email {
      @include big-button($light-blue);
    }
  }
  #js-video-display {
    margin-top: 150px;
  }
  .video-container {
    margin-top: 40px;
  }
  #message h5 {
    text-align: center;
    margin-top: 0;
  }
}

// media queries

@media screen and (max-width: 825px){
  .call-to-action h1 {
    font-size: 4rem;
  }
  #js-view-playlist {
    top: 250px;
  }
}

@media screen and (max-width: 775px) {
  .call-to-action h1 {
    font-size: 4.25rem;
  }
}

@media screen and (max-width: 600px) {
  #js-view-playlist {
    top: 150px;
  }
  .chip {
    font-size: 1rem;
  }
}
